@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f2f6f9;
  --surface: #e2eaf2;
  --card: #ffffff;
  --blue: #003ef3;
  --blue-light: #0490ff;
  --blue-dark: #010072;
  --blue-purple: #4436ff;
  --success: #00b87a;
  --warning: #f59e0b;
}

body {
  background-color: var(--bg);
  font-family: 'Outfit', sans-serif;
}
